* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    min-height: 100vh;
}

aside {
    position: fixed;
    top: 0;
    width: 50px;
    text-align: left;
    height: 100vh;
    z-index: 3;
    transition: 0.5s ease;
    overflow: hidden;
}

aside:hover {
    width: 220px;
}

.menu-text{
    opacity: 0;
    transition: 0.3s;
}

aside:hover span {
    opacity: 1;
}

aside:hover .logout{
    opacity: 1;
}

aside:hover .social-media-icons{
    opacity: 1
}

#time-overlay{
  right: 0;
  text-align: right;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(43,60,78, .9);
  padding: 50px;
  color: white;
  z-index: 2;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
}

#time-overlay h1{
  font-size: 15em;
}
#time-overlay h2{
  font-size: 5em;
}

aside:hover + #time-overlay{
  opacity: 1;
}


.logo {
    margin: 0 auto;
}

.sidebar-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -5;
    background-image: url("images/london.jpg");
    background-position: 37%;
}

.sidebar-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -4;
    background-color: rgba(46, 204, 113, 0.7);
}

.sidebar-logo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
}

.logo {
    width: 75%;
    vertical-align: middle;
}

.expand-button {
    float: right;
    padding-right: 10px;
}

.expand-button img {
    vertical-align: middle;
}

.icon {
    height: 100%;
    vertical-align: middle;
    padding-right: 10px;
    padding-bottom: 7px;
}

.search-icon {
    float: right;
}

.user-message {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

.menu-items {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1em;
    margin-top: 25px;
}

.menu-items ul {
    list-style: none;
    width: 220px;
    padding: 0px;
    line-height: 50px;
}

.menu-items ul li {
    padding-left: 13px;
}

.active-menu {
    background-color: #27ae60;
}

.logout {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 0px;
    bottom: 120px;
    width: 220px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    opacity: 0;
    transition: 0.3s;
}

.social-media-icons {
    position: absolute;
    left: 0px;
    bottom: 50px;
    width: 220px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

/* Bounce To Right */

.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: 100%;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white;
}

.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

main {
    width: calc(100% - 50px);
    height: calc(100vh - 40px);
    float: left;
    padding-left: 50px;
    transition: .3s;
}

.search-bar {
    width: 100%;
    height: 75px;
    line-height: 80px;
    background-color: white;
    position: fixed;
    z-index: 1;
    padding-left: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.search-bar input {
    height: 40px;
    font-size: 15px;
    border: 2px solid #dddddd;
    border-radius: 2px;
    padding-left: 10px;
}

.search-bar input[type=text] {
    width: 400px;
}

.search-bar input[type=number] {
    width: 50px;
}

.search-bar select {
    height: 30px;
    font-size: 15px;
}

.quickmapview {
    width: calc(38% - 20px);
    height: 100%;
    float: left;
    background-color: #27ae60;
    position: fixed;
    right: 0;
}

.quickmapview h3 {
    padding-top: 200px;
    padding-left: 10px;
    color: white;
}



.quickmapview-subbox {
    background-color: black;
    height: 200px;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.quickmapview-subbox h3 {
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}

.search-recces {
    padding-top: 85px;
    overflow: hidden;
    width: 62%;
    float: left;
    text-align: center;
}

.recce{
  border-radius: .1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  display: inline-block;
  margin: 1%;
  width: 300px;
  height: 275px;
  text-align: left;
  cursor: pointer;
}
.recce-picture{
  width: 100%;
  height: 200px;
  background-size: cover;
}
.recce-favourite{
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
}
.recce-favourite path{
  fill: white;
}
.heart{
  width: 35px;
  height: 35px;
  padding-left: 10px;
  padding-top: 10px;
}

.eye {
  width: 25px;
  height: 25px;
  border: solid 1pt #fff;
  border-radius:  75% 15%;
  position: absolute;
  left: 55px;
  top: 15px;
  transform: rotate(45deg);
  transition: .3s;
}
.watched{
  background-color: #27ae60;;
  border: solid 1pt #27ae60;;
}
.pupil {
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border: solid 1pt white;
  border-radius: 50%;
  left: 8px;
  top: 9px;
  background-color: white;
}


.recce-price{
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  width: auto;
  height: 15px;
}
.recce-details{
  width: 100%;
  height: 75px;
  background: white;
}
.recce-location{
  color: #aaaaaa;
  padding: 10px;
  height: 20px;
  width: calc(100% - 20px);
}
.recce-name{
  padding-left: 10px;
  height: 25px;
  width: calc(100% - 20px);
}

.welcome-message {
    width: 1100px;
    margin-left: 50px;
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 8px black, 0px 0px 5px black, 0px 0px 5px black;
}

.home-loader {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
    position: relative;
    ;
    z-index: 1;
    padding-top: 300px;
}

.home-loader>div {
    width: 18px;
    height: 18px;
    background-color: #1c1c1c;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.home-loader .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.home-loader .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.home-loadback.hide-opacity {
    opacity: 0;
}

.home-loadback {
    width: 85%;
    height: 90%;
    background-color: white;
    z-index: 1;
    position: absolute;
}

.home-one {
    width: 100%;
    height: 200px;
    background-image: url("images/city.jpg");
    background-position: center 700px;
    background-size: cover;
}

.home-two {
    width: 100%;
    height: 250px;
    background-color: white;
}

.two-header {
    padding-left: 50px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
}

.two-subheading {
    padding-left: 50px;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
}

.box-1 {
    margin-left: 50px;
    margin-top: 30px;
    width: 350px;
    height: 200px;
    background-color: #3498DB;
    position: absolute;
    color: white;
    border-radius: 5px;
}

.box-1-sub {
    width: 350px;
    height: 50px;
    top: 150px;
    background-color: #2079b4;
    position: relative;
    border-radius: 5px;
}

.box-1-subtext {
    padding-left: 20px;
    padding-top: 15px;
}

.box-1-face {
    width: 150px;
    height: 150px;
    padding-left: 10px;
    position: absolute;
}

.box-1-icon {
    width: 150px;
    height: 150px;
    padding-left: 180px;
    position: absolute;
}

.box-2 {
    margin-left: 450px;
    margin-top: 30px;
    width: 350px;
    height: 200px;
    background-color: #db3445;
    position: absolute;
    color: white;
    border-radius: 5px;
}

.box-2-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 115px;
    padding-left: 25px;
    padding-top: 10px;
    position: absolute;
}

.box-2-sub {
    width: 350px;
    height: 50px;
    top: 150px;
    background-color: #b4202f;
    position: relative;
    border-radius: 5px;
}

.box-2-subtext {
    padding-left: 20px;
    padding-top: 15px;
}

.box-3 {
    margin-left: 850px;
    margin-top: 30px;
    width: 350px;
    height: 200px;
    background-color: #db7734;
    position: absolute;
    color: white;
    border-radius: 5px;
}

.box-3-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 115px;
    padding-left: 25px;
    padding-top: 10px;
    position: absolute;
}

.box-3-sub {
    width: 350px;
    height: 50px;
    top: 150px;
    background-color: #b45b20;
    position: relative;
    border-radius: 5px;
}

.box-3-subtext {
    padding-left: 20px;
    padding-top: 15px;
}

.home-three {
    width: 100%;
    height: 500px;
    background-color: #f2f2f2;
}

.three-header {
    padding-left: 50px;
    padding-top: 130px;
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
}

.three-subheading {
    padding-left: 50px;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
}

.three-facebook {
    height: 40px;
    padding-top: 15px;
    padding-left: 50px;
}

.three-twitter {
    height: 40px;
    padding-top: 15px;
    padding-left: 20px;
}

.three-youtube {
    height: 40px;
    padding-top: 15px;
    padding-left: 20px;
}

.three-mountains {
    height: 40px;
    padding-top: 15px;
    padding-left: 20px;
}

.three-2ndsubheading {
    padding-left: 50px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
}

.feedbackbutton {
    border-radius: 2px;
    color: white;
    background-color: #2ecc71;
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    margin-top: 10px;
    margin-left: 50px;
    width: 100px;
    height: 25px;
}

.twitter {
    padding-top: 76px;
    padding-right: 100px;
    float: right;
    display:
}

.fav {
    width: 800px;
    height: 500px;
    margin-left: 50px;
    margin-top: 30px;
}

.fav-content {
    width: 100%;
    height: 130px;
    margin-top: 10px;
}

.fav-content p {
    padding-top: 5px;
}

.fav-title {
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
    font-weight: bold;
    font-size: 30px;
}

.myrecs {
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.myrecs-content {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    padding-left: 50px;
}

.myrecs-content p {
    padding-top: 5px;
    color: #34495e;
}

.myrecs-title {
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
    font-weight: bold;
    font-size: 30px;
    padding-left: 50px;
}

.createreccegodiv {
    padding-top: 5px;
    float: left;
    width: 20%;
}

.createareccegodiv {
    margin: 10px 0 20px 0; /*why is there a duplicate of this above?*/
}

.createreccego {
    background-color: #2dcd70;
    border: none;
    color: white;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.4s;
    width: 70px;
    margin-left: 50px;
}

.createreccego:hover {
    background-color: #1f8e4e;
    color: white;
    text-decoration: none;
}

.myrecs-bar {
    width: 100%;
    height: 85px;
    line-height: 80px;
    background-color: #eaeaea;
}

.myrecs-baroptions {
    width: 80%;
    float: left;
}

.myrecs-bar p {
    color: #34495e;
    padding-left: 50px;
}

.user-recces {
    padding-left: 50px;
}

.cal {
    width: 800px;
    height: 500px;
    margin-left: 50px;
    margin-top: 30px;
}

.cal-content {
    width: 100%;
    height: 130px;
    margin-top: 10px;
}

.cal-content p {
    padding-top: 5px;
}

.cal-title {
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
    font-weight: bold;
    font-size: 30px;
}

.myaccount-content {
    background-color: #f7f7f7;
    padding-top: 20px;
    height: 100%;
}

.accountinfo {
    width: 770px;
    height: 430px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    float: left;
}

.accountinfo h3 {
    margin-left: 30px;
    margin-top: 30px;
}

.accountinfo p {
    font-size: 13px;
    color: grey;
}

.change-password {
    margin-left: 30px;
    margin-top: 10px;
    clear: both;
    padding-top: 10px;
}

.change-name {
    margin-left: 30px;
    padding-top: 10px;
}

.change-usernameemail {
    margin-left: 30px;
    margin-top: 20px;
}

.change-username {
  float: left;
}

.change-email {
    float: left;
    padding-left: 10px;
}

.change-firstlastname {
  float: none;
  clear: both;
  margin-left: 30px;
  padding-top: 20px;
}

.change-firstname {
    float: left;
}

.change-lastname {
    float: left;
    padding-left: 10px;
}

.change-fulladdress {
  float: none;
  clear: both;
  margin-left: 30px;
  padding-top: 20px;
}

.change-city {
    float: left;
    padding-top: 20px;
}

.change-country {
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}

.change-postcode {
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}

.form-control {
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: white;
    padding: 8px 12px;
}

.form-control-ii {
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: white;
    padding: 8px 12px;
    width: 320px;
}

.form-control-iii {
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: white;
    padding: 8px 12px;
    width: 680px;
}

.form-control-iiii {
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: white;
    padding: 8px 12px;
    width: 205px;
}

.form-control-button {
    border-radius: 2px;
    color: white;
    background-color: #2ecc71;
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
}

.accountpass {
    width: 770px;
    height: 240px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    float: left;
}

.accountpass h3 {
    margin-left: 30px;
    margin-top: 30px;
}

.accountpass p {
    font-size: 13px;
    color: grey;
}

.form-control-pass {
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: white;
    padding: 8px 12px;
    width: 320px;
}

.form-control-pass-ii {
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: white;
    padding: 8px 12px;
    width: 320px;
    margin-top: 10px;
}

.form-control-passbutton {
    border-radius: 2px;
    color: white;
    background-color: #2ecc71;
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
}

.accountpicture {
    width: 770px;
    height: 130px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    float: left;
}

.accountpicture h3 {
    margin-left: 30px;
    margin-top: 30px;
}

.accountpicture p {
    font-size: 13px;
    color: grey;
}

.choosefile {
    margin-left: 30px;
    margin-top: 10px;
}

.deleteaccount {
    width: 770px;
    height: 160px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    float: left;
}

.deleteaccount h3 {
    margin-left: 30px;
    margin-top: 30px;
}

.deleteaccount p {
    font-size: 13px;
    color: grey;
}

.deletecheckbox {
    margin-left: 30px;
    margin-top: 5px;
}

.form-control-deletebutton {
    border-radius: 2px;
    color: white;
    background-color: #D91E18;
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
}

.admin-content {
    background-color: #f7f7f7;
    padding-top: 20px;
    height: 100%;
}

.welcomebox {
    width: 770px;
    height: 100px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid #dddddd;
}

.welcomeboxtitle {
    margin-left: 30px;
    margin-top: 30px;
    float: left;
}

.welcomeboxtitle p {
    font-size: 13px;
    color: grey;
}

.statsbox {
    width: 770px;
    height: 100px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid #dddddd;
}

.statsboxtext p {
    font-size: 13px;
    color: grey;
    margin-left: 30px;
    margin-top: 30px;
}

.calendarbox {
    width: 400px;
    height: 100px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid #dddddd;
}

.calendarboxtext p {
    font-size: 13px;
    color: grey;
    margin-left: 30px;
    margin-top: 30px;
}

.back-button {
    width: 70px;
    height: 70px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 70px;
    background: #2ecc71;
    position: fixed;
}

.back-arrow {
    margin-left: 15px;
    margin-top: 15px;
}

.cover-image {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: 100% 1100px;
}

.cover-text {
    text-align: right;
    color: white;
    width: auto;
    float: left;
}

.poster-image-out {
    padding-top: 1px;
}

.poster-image {
    width: 200px;
    height: 200px;
    background: white;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin-top: 30px;
    margin-left: 30px;
}

.ls-background {
    width: 100%;
    height: 100%;
    background-color: #2ecc71;
    display: flex;
}

.crbutton-case {
    margin-left: 50px;
}

.createrecce-button {
    padding-top: 20px;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 15px 32px;
    border-radius: 4px;
    text-align: center;
}

.createrecce-content {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

/* SECTION 1: BASIC DETAILS */

.sec1-title {
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
    padding-left: 60px;
    padding-top: 50px;
    display: non
}

.createrecce-sec1 {
    width: 80%;
    height: 600px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: #cecece;
    border-radius: 5px;
    position: relative;
}

.sec1-subheading {
    width: 100%;
    height: 60px;
    background-color: #b5b5b5;
    border-radius: 5px;
    position: relative;
}

.sec1-subheading p {
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}

.nameoflocation {
    padding-left: 20px;
    padding-top: 30px;
}

.nameoflocation h3 {
    color: #34495e;
}

input[type=locationname] {
    width: 300px;
    padding: 12px 20px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 3px solid #bdc3c7;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
}

input[type=locationname]:focus {
    border: 3px solid #2ecc71;
}

.descoflocation {
    padding-left: 20px;
    padding-top: 20px;
}

.descoflocation h3 {
    color: #34495e;
}

input[type=locationdesc] {
    width: 500px;
    height: 100px;
    padding: 12px 20px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 3px solid #bdc3c7;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
}

input[type=locationdesc]:focus {
    border: 3px solid #2ecc71;
}

.typeoflocation {
    padding-left: 20px;
    padding-top: 20px;
}

.typeoflocation h3 {
    color: #34495e;
}

input[type=locationtype] {
    width: 410px;
    padding: 12px 20px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 3px solid #bdc3c7;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
}

input[type=locationtype]:focus {
    border: 3px solid #2ecc71;
}

/* SECTION 2: WHERE IS LOCATION, LOCATED */

.sec2-title {
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
    padding-left: 60px;
    padding-top: 50px;
    display: none;
}

.createrecce-sec2 {
    width: 80%;
    height: 600px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: #cecece;
    border-radius: 5px;
    position: relative;
    display: none;
}

.sec2-subheading {
    width: 100%;
    height: 60px;
    background-color: #b5b5b5;
    border-radius: 5px;
    position: relative;
}

.sec2-subheading p {
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}

.addressoflocation {
    padding-left: 20px;
    padding-top: 30px;
}

.addressoflocation h3 {
    color: #34495e;
}

input[type=locationpostcode] {
    width: 300px;
    padding: 12px 20px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 3px solid #bdc3c7;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
}

input[type=locationpostcode]:focus {
    border: 3px solid #2ecc71;
}

/* SECTION 3: LOCATION PHOTOS */

.sec3-title {
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
    padding-left: 60px;
    padding-top: 50px;
    display: none;
}

.createrecce-sec3 {
    width: 80%;
    height: 600px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: #cecece;
    border-radius: 5px;
    position: relative;
    display: none;
}

.sec3-subheading {
    width: 100%;
    height: 60px;
    background-color: #b5b5b5;
    border-radius: 5px;
    position: relative;
}

.sec3-subheading p {
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}

.photosoflocation {
    padding-left: 20px;
    padding-top: 30px;
}

.photosoflocation h3 {
    color: #34495e;
}

input[type=locationphotos] {
    width: 300px;
    padding: 12px 20px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 3px solid #bdc3c7;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
}

input[type=locationphotos]:focus {
    border: 3px solid #2ecc71;
}

/* SECTION 4: FEATURES AND PRICE RANGE */

.sec4-title {
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
    padding-left: 60px;
    padding-top: 50px;
    display: none;
}

.createrecce-sec4 {
    width: 80%;
    height: 600px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: #cecece;
    border-radius: 5px;
    position: relative;
    display: none;
}

.sec4-subheading {
    width: 100%;
    height: 60px;
    background-color: #b5b5b5;
    border-radius: 5px;
    position: relative;
}

.sec4-subheading p {
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}

.featureslocation {
    padding-left: 20px;
    padding-top: 30px;
}

.featureslocation h3 {
    color: #34495e;
}

input[type=locationfeatures] {
    width: 300px;
    padding: 12px 20px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 3px solid #bdc3c7;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
}

input[type=locationfeatures]:focus {
    border: 3px solid #2ecc71;
}

.priceoflocation {
    padding-left: 20px;
    padding-top: 20px;
}

.priceoflocation h3 {
    color: #34495e;
}

input[type=locationprice1] {
    width: 110px;
    padding: 12px 20px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 3px solid #bdc3c7;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
}

input[type=locationprice1]:focus {
    border: 3px solid #2ecc71;
}

input[type=locationprice2] {
    width: 110px;
    padding: 12px 20px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 3px solid #bdc3c7;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
}

input[type=locationprice2]:focus {
    border: 3px solid #2ecc71;
}

.form-group {
    width: calc(100% - 120px);
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #dddddd;
    position: relative;
}

.form-group input {
    padding: 2px;
    height: 20px;
    border: 1px solid #bdc3c7;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
}

.form-group input:focus {
    border: 1px solid #2ecc71;
}

.form-group textarea {
    padding-top: 5px;
    padding-left: 5px;
    height: 40px;
    width: 400px;
    border: 1px solid #bdc3c7;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
}

.form-group textarea:focus {
    border: 1px solid #2ecc71;
}

.form-group p {
    padding-top: 20px;
}

.form-group h1 {
    padding-bottom: 20px;
}

.form-group h3 {
    padding-bottom: 5px;
}

.form-group input[type="file"] {
    padding-top: 5px;
    padding-left: 5px;
    height: 25px;
    border: 3px solid #bdc3c7;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
}

.form-group input[type="file"]:focus {
    border: 3px solid #2ecc71;
}

.next-button {
    position: absolute;
    background-color: #2ecd70;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.4s;
    width: 70px;
    height: 30px;
}

.next-button {
    bottom: 5px;
    right: 5px;
}

.back-button2 {
    position: absolute;
    background-color: #2ecd70;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.4s;
    width: 70px;
    height: 30px;
}

.back-button2 {
    bottom: 5px;
    left: 5px;
}

.create-section-2 {
    opacity: 0;
    display: none;
}

.create-section-3 {
    opacity: 0;
    display: none;
}

.create-section-4 {
    opacity: 0;
    display: none;
}

#map {
    width: 500px;
    height: 500px;
}

#loader{
    width: 100%;
    height: 50px;
    background-color: blue;
    opacity: 0;
}
